<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not allowed</title>

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
<div class="not_allowed container d-flex justify-content-center mt-5">
    <h3 class="text-center me-3">You are not allowed on this page!</h3>
    <a href="{% url 'products' %}" id="go_back"
                   class="btn text-white font_noto rounded-4 my-auto background_color_lightblue font_size_larger blue_btn"
                   style="opacity: 75%">Go back
                </a>
</div>
</body>
</html>