<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>

    {% extends 'header_footer.html' %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <style>
        .card_color_style {
            background-color: #fcf9f7;
            border-color: #9A8E84
        }
    </style>

</head>
<body>

{% block content %}
    <div class="container font_noto">
        <h2 class="font_noto color_blue_font text-center mt-3 mb-4">Orders display</h2>
        <div class="row my-3 mx-auto">
            {% for order_checkout in all_orders %}
                <div class="col-3 mx-5 order-card">
                    <div class="card rounded-4" style=" background-color:#fcf9f7; border-color: #ebe8e5;">
                        <div class="card-body inline">
                            <h5 class="card-title text-center mb-3 color_lightblue"
                                style="font-weight: bold">{{ order_checkout.name }}'s order</h5>
                            <div class="card-text">
                                {% for order_item in order_checkout.order.orderitem_set.all %}
                                    <p class="my-0">{{ order_item.quantity }} - {{ order_item.coffee }}
                                    + {{ order_item.servings }} {{ order_item.additional_flavor }} flavor</p>
                                {% endfor %}
                            </div>
                            <div class="card-text mt-3">
                                <p>Address: {{ order_checkout.address }} <br/>
                                    Phone: {{ order_checkout.phone }}</p>
                            </div>
                            <a href="{% url 'delete_order' order_checkout.id %}" class="delete_order_btn btn background_color_lightblue text-white rounded-4 text-end blue_btn"
                               style="opacity: 75%; float: right">Mark as done</a>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
{% endblock content %}

</body>
</html>